@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--radius: 0.5rem;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}

	/* .dark {	} */

	* {
		@apply border-border;
	}
	body {
		font-feature-settings: /* fix for Chrome */
			'liga' 1,
			'calt' 1;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}
}

@layer utilities {
	/* https://angel-rs.github.io/css-color-filter-generator/ */
	.svg-black {
		filter: brightness(0) saturate(100%);
	}
	.svg-white {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg)
			brightness(108%) contrast(101%);
	}
}
